body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
    background-color: #f5e1cc; /* Parchment color */
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5e1cc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
}

#main-content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#main-content.hidden {
    display: none;
}

header {
    background-color: #966f33; /* Header background color */
    color: #fff;
    text-align: center;
    padding: 20px;
}

#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
